.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 2rem;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.center {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pokemon_box{
  display: flex;
  border: 1px solid white;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  justify-content: space-between;
}
.pokemon_data{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-inline: 0.5rem;
}